@model Hotel_Management_Project.Models.RoomModel
    <!DOCTYPE html>
    <html class="no-js" lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/logo_penhouse1.png">

        <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/gijgo.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

    </head>
    <div>
        <h4>RoomModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoomID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoomID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoomTypeID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoomTypeID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoomName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoomName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoomDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoomDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RoomPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RoomPrice)
            </dd>
        </dl>
    </div>
    
</html>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>